#loading {
    background-color: #081939;
    display: block;
    position: fixed;
    height: 102%;
    width: 100%;
    z-index: 10050;
    margin-top: -60px;
    .spin-block {
        width: 270px;
        height: 120px;
        display: block;
        margin: 0 auto;
        @include vertical-center;
        .spin {
            display: block;
            margin: 0 auto;
            width: 120px;
        }
        .logo {
            width: 100%;
        }
    }
}