<h3>Agenda Presidencial</h3>
<span class="lines">
    </b><b class="lila"></b><b class="azul"></b>
    <b class="verde-claro"></b><b class="blanco"></b><b class="amarillo"></b>
    <b class="naranja"></b><b class="rojo"></b>
</span>
<div class="diary-content">
</div>
