<footer class="live-box">
    <ul class="tweets">
        <li>
            <i class="fa fa-twitter"></i>
            <strong>#VamosBien ></strong> tur adipisicing elit. Amet, sit praesentium tempore qui cupiditate
            iure dicta perferendis ipsam temporibus tenetur soluta at dolorem qui
        </li>
    </ul>
</footer>