$plum: #913d88;
$seance: #9a12b3;
$medium-purple: #bf55ec;
$light-wisteria: #be90d4;
$studio: #8e44ad;
$wisteria: #9b59b6;
$new-york-pink: #e08283;
$pomegranate: #f22613;
$red: #ff0000;
$sunglo: #e26a6a;
$thunderbird: #d91e18;
$old-brick: #96281b;
$flamingo: #ef4836;
$valencia: #d64541;
$tall-poppy: #c0392b;
$monza: #cf000f;
$cinnabar: #e74c3c;
$tahiti-gold: #e87e04;
$casablanca: #f4b350;
$crusta: #f2784b;
$jaffa: #eb974e;
$lightning-yellow: #f5ab35;
$saffron: #f4d03f;
$burnt-orange: #d35400;
$buttercup: #f39c12;
$ecstasy: #f9690e;
$ripe-lemon: #f7ca18;
$saffron: #f9bf3b;
$jaffa: #f27935;
$zest: #e67e22;
$fire-bush: #eb9532;
$cararra: #f2f1ef;
$pumice: #d2d7d3;
$gallery: #eeeeee;
$silver-sand: #bdc3c7;
$porcelain: #ecf0f1;
$cascade: #95a5a6;
$iron: #dadfe1;
$edward: #abb7b7;
$silver: #bfbfbf;
$downy: #65c6bb;
$mountain-meadow: #1bbc9b;
$light-sea-green: #1ba39c;
$medium-aquamarine: #66cc99;
$turquoise: #36d7b7;
$observatory: #049372;
$madang: #c8f7c5;
$riptide: #86e2d5;
$shamrock: #2ecc71;
$mountain-meadow: #16a085;
$emerald: #3fc380;
$green-haze: #019875;
$jungle-green: #26c281;
$green-haze: #03a678;
$ocean-green: #4daf7c;
$jungle-green: #2abb9b;
$jade: #00b16a;
$salem: #1e824c;
$eucalyptus: #26a65b;
$picton-blue: #59abe3;
$shakespeare: #52b3d9;
$humming-bird: #c5eff7;
$picton-blue: #22a7f0;
$curious-blue: #3498db;
$madison: #2c3e50;
$jordy-blue: #89c4f4;
$dodger-blue: #19b5fe;
$ming: #336e7b;
$ebony-clay: #22313f;
$malibu: #6bb9f0;
$curious-blue: #1e8bc3;
$chambray: #3a539b;
$pickled-bluewood: #34495e;
$hoki: #67809f;
$jelly-bean: #2574a9;
$jacksons-purple: #1f3a93;
$steel-blue: #4b77be;
$fountain-blue: #5c97bf;


/* Custom */
$mas-color: #032f5b;
$alternative-mas-color: #044476;

// $mas-color: rgb(3,47,91);